<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Playlist</h3>

{{! Playlist.item is placeholder}}
   <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Playlist</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>{{title}}</td>
        <td>{{artist}}</td>
        <td>{{album}}</td>
        <td>
          <form method="POST" action="/deleteSong/{{this.id}}">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="./js/profile.js"></script>
